.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;

	width: 100%;
	transition: all 0.3s linear;

	&.scroll {
		background-color: #000;
	}

	&.scroll &__logo {
		top: 7%;
		max-width: 80px;
	}
	&__row {
		position: relative;

		display: flex;
		align-items: center;

		height: 100px;
		&::before,
		&::after {
			content: "";

			position: absolute;
			bottom: 0;

			height: 1px;
			width: 41.407%;

			background-color: rgba(255, 255, 255, 0.2);
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	&__logo {
		display: block;

		position: absolute;
		z-index: 3;
		top: 25%;
		left: 50%;

		width: 11.72%;
		min-width: 70px;

		transform: translate(-50%, 0);
		transition: all 0.3s linear;
		img {
			max-width: 100%;
		}
	}

	@media (max-width: 767px) {
		&__row {
			height: 80px;
		}

		&__logo {
			width: 70px;
			top: 7%;
		}
	}
}

.menu-header {
	width: 100%;
	&__burger {
		display: none;
	}

	&__list {
		display: flex;
		justify-content: center;
		li {
			margin: 0 40px/1440px * 100%;
			&:nth-child(4) {
				margin: 0 110px/1440px * 100% 0 40px/1440px * 100%;
			}

			&:nth-child(5) {
				margin: 0 40px/1440px * 100% 0 110px/1440px * 100%;
			}
		}
	}

	&__link {
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		color: #ffffff;
	}

	&__schedule {
		display: none;
	}
	@media (min-width: 991px) {
		&__link {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: 767px) {
		&__burger {
			display: block;
			position: relative;
			z-index: 3;

			width: 30px;
			height: 20px;
			span {
				position: absolute;
				top: 9px;
				left: 0;

				width: 100%;
				height: 2px;

				transition: all 0.3s linear;
			}
			&::before,
			&::after {
				content: "";

				position: absolute;
				left: 0;

				width: 100%;
				height: 2px;

				transition: all 0.3s linear;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}
		&__body {
			position: fixed;
			top: -100%;
			left: 0;
			z-index: 2;

			width: 100%;
			height: 100%;
			transition: all 0.3s linear;

			background-color: $decor;
			background: radial-gradient(circle, #e8c300 0%, #6d6e06 100%);
			overflow: auto;

			padding: 70px 20px;
			&::after {
				content: "";
				position: fixed;
				top: -100%;
				left: 0;

				width: 100%;
				height: 80px;

				background-color: #000;
				transition: all 0.3s linear;
			}

			&.active {
				top: 0;
				&::after {
					top: 0;
				}
			}
		}

		&__list {
			display: block;
			text-align: center;
			li {
				margin: 25px 0 !important;
			}
		}

		&__link {
			font-size: 20px;
		}

		&__burger {
			span {
				background-color: #fff;
			}

			&::before,
			&::after {
				background-color: #fff;
			}

			&.active {
				span {
					transform: scale(0);
				}

				&::before {
					top: 9px;
					transform: rotate(45deg);
				}

				&::after {
					bottom: 9px;
					transform: rotate(-45deg);
				}
			}
		}

		&__schedule {
			display: block;
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			margin: 50px 0 20px;
		}
	}
}

.social-menu-header {
	display: none;

	@media (max-width: 767px) {
		display: flex;
		justify-content: center;

		&__item {
			width: 40px;
			height: 40px;

			margin: 0 10px;
		}
	}
}
